<div class="boxes-container">
  <div class="box-element box-research">
  	<a href="{{ "research-topics" | absURL }}"><div class="box-logo">
  		<img class="box-logo1" src="/img/boxes-logo/research-black.png"></img>
  		<img class="box-logo2" src="/img/boxes-logo/research-white.png"></img>
  	</div></a>
  	<div class="box-title">
  		<h3>Research</h3>
  	</div>
  	<div class="box-content">
  		<p>All our research topics </p>
  	</div>
  </div>
  
  <a href="{{ "edu-topics" | absURL }}"><div class="box-element box-EDU">
  	<div class="box-logo">
  		<img class="box-logo1" src="/img/boxes-logo/edu-black.png"></img>
  		<img class="box-logo2" src="/img/boxes-logo/edu-white.png"></img>  	
  	</div></a>
  	<div class="box-title">
  		<h3>EDU</h3>
  	</div>
  	<div class="box-content">
  		<p>Education and academic events</p>
  	</div>
  </div>

  <div class="box-element box-code">
  	<a href="{{ "code" | absURL }}"><div class="box-logo">
  		<img class="box-logo1" src="/img/boxes-logo/code-black.png"></img>
  		<img class="box-logo2" src="/img/boxes-logo/code-white.png"></img> 
  	</div></a>
  	<div class="box-title">
  		<h3>Code</h3>
  	</div>
  	<div class="box-content">
  		<p>Open research data and software</p>
  	</div>
  </div>

  <div class="box-element box-team">
  	<a href="{{ "team" | absURL }}"><div class="box-logo">
  		<img class="box-logo1" src="/img/boxes-logo/team-black.png"></img>
  		<img class="box-logo2" src="/img/boxes-logo/team-white.png"></img> 
  	</div></a>
  	<div class="box-title">
  		<h3>Team</h3>
  	</div>
  	<div class="box-content">
  		<p>All members of the research team</p>
  	</div>
  </div>
</div>