<div class="research-intro">
    <p> 
        <br/>
        <b>Our research focuses on computational analysis of
        complex natural and social systems.</b> There is a great demand for
        targeted computational techniques to extract information and insights
        from rich data collections based on clever combinations of human and
        machine intelligence. We blend elements from fields such as machine
        learning/AI, probabilistic programming, statistical ecology, and data
        science, and drive open developer communities that help to translate
        latest theoretical advances into accessible methods to inform
        modeling, experimentation, and decision-making. For a full list of publications check <a href="http://datascience.utu.fi/research-topics/">this page</a>.
</div>
