<div class="research-intro">
    <p> 
        <h1>Research topics</h1>

        <b>Our research focuses on computational analysis and understanding of
        complex natural and social systems.</b> There is a great demand for
        targeted computational techniques to extract information and insights
        from rich data collections based on clever combinations of human and
        machine intelligence. We blend elements from fields such as machine
        learning/AI, probabilistic programming, statistical ecology, and data
        science, and drive open developer communities that help to translate
        latest theoretical advances into accessible methods to inform
        modeling, experimentation, and decision-making.

        <b>Key applications</b> include microbiome research, population cohort
        studies, and computational social sciences and humanities (SSH). We
        also coordinate the  <a href="https://fi.okfn.org/wg/openscience/">Open Knowledge Finland Open Science work
        group</a>, which received <b>Open
        Science and Research award of the Ministry of Education and Culture in
        2017</b>.

        <h2>Recent publications</h2>

        <!--See [Google scholar](https://scholar.google.co.uk/citations?user=mjjV-AoAAAAJ&hl=fi&oi=ao).-->

        Below some examples from recent publications.
        See <a href="http://orcid.org/0000-0001-5537-637X">ORCID</a> for a full list. 
        Full publication list is also available as <a href="https://github.com/openresearchlabs/openresearchlabs.github.io/blob/master/content/publication_resources/bibtex/lahti.bib">bibtex</a>
        Copies of most papers are available <a href="https://github.com/openresearchlabs/openresearchlabs.github.io/tree/master/content/publication_resources">here</a>.
    </p>
</div>