{{ $path := index $.Site.Data.publications.lahti }}

{{- if .IsNamedParams -}}
  {{- if (isset .Params "id") -}}
    {{ range where $path "id" $.Params.id }}
      {{ partial "publications_partial" . }}
    {{ end }}
  {{ else if (isset .Params "keyword") }}
    {{ range where $path "keyword" $.Params.keyword }}
      {{ partial "publications_partial" . }}
    {{ end }}
  {{ else if (isset .Params "status") }}
      {{ range where $path "status" $.Params.status }}
        {{ partial "publications_partial" . }}
      {{ end }}
  {{ end }}
{{ else }}
  {{ range $path }}
    {{ partial "publications_partial" . }}
  {{ end }}
{{- end -}}
