{{ if .IsNamedParams }}
  {{- if isset .Params "id" -}}
    {{ $path := index $.Site.Data.publications.lahti }}
      {{ range where $path "id" $.Params.id }}
        {{ partial "publications_partial" . }}
      {{ end }}
  {{ else if isset .Params "keyword" }}
    {{ $path := index $.Site.Data.publications.lahti }}
      {{ range where $path "keyword" $.Params.keyword }}
        {{ partial "publications_partial" . }}
      {{ end }}
  {{- end -}}
{{ else }}
  {{ $path := index $.Site.Data.publications.lahti }}
  {{ range $path }}
    {{ partial "publications_partial" . }}
  {{ end }}
{{- end -}}
